* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*define styling properties for the body section of the webpage*/
body {
    background-color: #d9dcd6;
}

/*define styling properties for the header class*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*define styling properties for the h1 elements associated with class header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*define styling properties for the seo class inside the h1 element associated with class header*/
.header h1 .seo {
    color: #d9dcd6;
}

/*define styling properties for nav section associated with class header*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*define styling properties for un-ordered list inside the nav sections 
that are associated with the header class
*/
.header nav ul {
    list-style-type: none;
}

/*define styling properties for list items that are found inside the un-ordered list 
located in the nav sections that are associated with the header class 
*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*define styling properties for anchor tags*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*define styling properties for paraghrap tags*/
p {
    font-size: 16px;
}

/*define styling properties for hero class*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*define styling properties for float-left class*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*define styling properties for float-right class*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*define styling properties for content class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*define styling properties for benefits */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*define styling properties for benefit-lead class*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*define styling properties for .benefit-brand class*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*define styling properties for .benefit-cost class*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*define styling properties for h3 elements associated with the benefit-lead class*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*define styling properties for h3 elements associated with the benefit-brand class*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*define styling properties for h3 elements associated with the benefit-cost class*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*define styling properties for img elements associated with the benefit-lead class*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*define styling properties for img elements associated with the benefit-brand class*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*define styling properties for img elements associated with the benefit-cost class*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*define styling properties for search-engine-optimization class*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*define styling properties for online-reputation-management class*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*define styling properties for social-media-marketing class*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*define styling properties for img elements associated with the search-engine-optimization class*/
.search-engine-optimization img {
    max-height: 200px;
}

/*define styling properties for img elements associated with the online-reputation-management class*/
.online-reputation-management img {
    max-height: 200px;
}

/*define styling properties for img elements associated with the social-media-marketing class*/
.social-media-marketing img {
    max-height: 200px;
}

/*define styling properties for h2 elements associated with the search-engine-optimization class*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*define styling properties for h2 elements associated with the online-reputation-management class*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*define styling properties for h2 elements associated with the social-media-marketing class*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*define styling properties for footer class*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*define styling properties for h2 elemetse associated with the footer class*/
.footer h2 {
    font-size: 20px;
}
